.score {
    display: block;
    position: absolute;
    font-size: 15px;
    z-index: 1;
    user-select: none;
}
.top-score {
    top: 10px;
    left: 20px;
}
.current-score {
    top: 30px;
    left: 20px;
}
.shield-score {
    top: 10px;
    right: 20px;
}
.time-score {
    top: 30px;
    right: 20px;
}
.instructions {
    top: 10px;
    left: 50%;
}


.disabledButton{
	display: block;
	position: fixed;
	z-index: 1;
	border: 2px solid #777;
	background-color: transparent;
	color: #777;
	font-size: 40px;
	width: 60px;
	height: 60px;
	cursor: pointer;
	flex: '1 1 0';
	user-select: none;
}
.actionButton{
	display: block;
	position: fixed;
	z-index: 1;
	border: 2px solid #ffffff;
	background-color: transparent;
	color: #ffffff;
	font-size: 40px;
	width: 60px;
	height: 60px;
	cursor: pointer;
	flex: '1 1 0';
	user-select: none;
}
.actionButton:hover{
	background-color: #ffffff;
	color: #000000;
}
.btnLeft {
	bottom: 5%;
	left: 5%;
}
.btnUp {
	bottom: 15%;
	left: 15%;
}
.btnRight {
	bottom: 5%;
	left: 25%;
}
.btnShoot {
	bottom: 15%;
	right: 5%;
}
.btnShield {
	bottom: 5%;
	right: 15%;
}
