  /* cyrillic-ext */
  @font-face {
    font-family: 'PT Mono';
    font-style: normal;
    font-weight: 400;
    src: local('PT Mono'), local('PTMono-Regular'), url(fonts/71D43E_ZpjerHAsyF2SPuFKPGs1ZzpMvnHX-7fPOuAc.woff2) format('woff2');
    unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
  }
  /* cyrillic */
  @font-face {
    font-family: 'PT Mono';
    font-style: normal;
    font-weight: 400;
    src: local('PT Mono'), local('PTMono-Regular'), url(fonts/EgJGySadPCEUe4oNA9kAslKPGs1ZzpMvnHX-7fPOuAc.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }
  /* latin-ext */
  @font-face {
    font-family: 'PT Mono';
    font-style: normal;
    font-weight: 400;
    src: local('PT Mono'), local('PTMono-Regular'), url(fonts/Tirh6-ADimy_yvdLtBSHsVKPGs1ZzpMvnHX-7fPOuAc.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'PT Mono';
    font-style: normal;
    font-weight: 400;
    src: local('PT Mono'), local('PTMono-Regular'), url(fonts/G-CKroWfxRiFDKkMmCHyAgLUuEpTyoUstqEm5AMlJo4.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
  }

.debugLabel {
    display: block;
    position: absolute;
    font-family: 'PT Mono', serif;
    color: #ffffff;
    z-index: 1;
    font-size: 10px;
    left: 10px;
    top: 5px;
    user-select: none;
}
body {
    padding: 0;
    margin: 0;
    font-family: 'PT Mono', serif;
    color: #ffffff;
    background-color: #000000;
}
canvas {
    display: block;
    position: absolute;
    background-color: #000000;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}
.stats {
    display: flex;
    justify-content: space-evenly;
    align-content: stretch;
    width: 50%;
}
.stat-title {
    text-align: left;
}
.stat-value {
    text-align: right;
}
.retry {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
}
.endgame {
    position: absolute;
    z-index: 1;
    user-select: none;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 90%;
 }
.intro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 16px;
    z-index: 1;
    text-align: center;
    user-select: none;
    width: 50%;
}
.score {
    display: block;
    position: absolute;
    font-size: 15px;
    z-index: 1;
    user-select: none;
}
.top-score {
    top: 10px;
    left: 20px;
}
.current-score {
    top: 30px;
    left: 20px;
}
.shield-score {
    top: 10px;
    right: 20px;
}
.time-score {
    top: 30px;
    right: 20px;
}
.help-info {
    display: block;
    position: absolute;
    font-size: 10px;
    z-index: 1;
    transform: translate(-50%, 0);
    text-align: center;
    line-height: 1.6;
    user-select: none;
}
.instructions {
    top: 10px;
    left: 50%;
}
.legal {
    bottom: 5%;
    left: 50%;
}

.disabledButton{
	display: block;
	position: fixed;
	z-index: 1;
	border: 2px solid #777;
	background-color: transparent;
	color: #777;
	font-size: 40px;
	width: 60px;
	height: 60px;
	cursor: pointer;
	flex: '1 1 0';
	user-select: none;
}
.actionButton{
	display: block;
	position: fixed;
	z-index: 1;
	border: 2px solid #ffffff;
	background-color: transparent;
	color: #ffffff;
	font-size: 40px;
	width: 60px;
	height: 60px;
	cursor: pointer;
	flex: '1 1 0';
	user-select: none;
}
.actionButton:hover{
	background-color: #ffffff;
	color: #000000;
}
.btnLeft {
	bottom: 5%;
	left: 5%;
}
.btnUp {
	bottom: 15%;
	left: 15%;
}
.btnRight {
	bottom: 5%;
	left: 25%;
}
.btnShoot {
	bottom: 15%;
	right: 5%;
}
.btnShield {
	bottom: 5%;
	right: 15%;
}

.infoButton{
	border: 4px solid #ffffff;
	background-color: transparent;
	color: #ffffff;
	font-size: 20px;
    padding: 10px 20px;
	margin-bottom: 20px;
	font-family: 'PT Mono', serif;
	cursor: pointer;
	flex: '1 1 0';
    user-select: none;
    width: 100%;
}
.infoButton:hover{
	background-color: #ffffff;
	color: #000000;
}
